<html>
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link href="style.css" rel="stylesheet">
</head>
<body>
  <header>
  <img src="adm_logo.png" alt="ADM Logo logo">
  <p><h1>{{pageHeading}}</h1><p>
  </header>
  <nav>
    <ul>
      <li><a href="{{href1}}">{{refInfo1}}</a></li>
      <li><a href="{{href2}}">{{refInfo2}}</a></li>
      <li><a href="{{href3}}">{{refInfo3}}</a></li>
    </ul>
  </nav>
  <article>article </article>
  <aside>aside</aside>
  <footer>
  <p>ADM Web Server Version 1.0</p>
  </footer>
</body>
</html>
