<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="style.css" >
  <title>{{title}}</title>
</head>
<body>
  <header>
  <img src="adm_logo.png" alt="ADM Logo logo">
  <p><h1>{{pageHeading}}</h1><p>
  </header>
  <nav>
      <a href="{{href1}}">{{refInfo1}}</a>
      <a href="{{href2}}">{{refInfo2}}</a>
      <a href="{{href3}}">{{refInfo3}}</a>
  </nav>
  <article>Artice
  	<section>
    	<div>Product 1 </div>
    	<div>Product 2 </div>
    	<div>Product 3 </div>
    	<div>Product 4 </div>
    </section>
    <section>
    	<div>Product 5 </div>
    	<div>Product 6 </div>
    	<div>Product 7 </div>
    	<div>Product 8 </div>
  	</section>
  </article>
  <aside>Aside</aside>
  <footer>
  <p>ADM Web Server Version 1.0</p>
  </footer>
</body>
</html>
